menu "VWTP Configuration"

    choice VWTP_DASH_TX_ID
        prompt "Choose the CAN TX ID for the VWTP channel to the dashboard:"
        default VWTP_DASH_TX_ID_NAVIGATION_RNSE
        help
            Choose the CAN TX ID for the VWTP channel to the dashboard.
            6C0 is used by RNS-E, dont select it if you have unmodified RNS-E navigation installed.
            6C2 is used by RNS-E Custom firmware, dont select it if you have custom firmware and selected FIS-Control option.

        config VWTP_DASH_TX_ID_NAVIGATION_RNSE
            bool "Use 6C0 (Navigation)"
            help
                6C0 will be used, dont select this if you have RNS-E navigation (with original FW) installed.

        config VWTP_DASH_TX_ID_ALTERNATIVE
            bool "Use 6C2 (Alternative)"
            help
                6C2 will be used, dont select this if you have modified RNS-E installed.
    endchoice # VWTP_DASH_TX_ID

    config BENCH_TEST_MODE
            bool "Enable BENCH test mode"
            default "n"
            help
                Enables bench test mode, continously sends KL15 (ignition) "ON" to dash
endmenu # "VWTP Configuration"

